<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${user}" method="post">
    Name: <input type="text" name="name" id="name" th:value="*{name}"><br>
    Surname: <input type="text" name="surname" id="surname" th:value="*{surname}"><br>
    Email: <input type="text" name="email" id="email" th:value="*{email}"><br>
    Age: <input type="text" name="age" id="age" th:value="*{age}"><br>
    Username: <input type="text" name="username" id="username" th:value="*{username}"><br>
    Password: <input type="password" name="password" id="password" th:value="*{password}"><br>
    Role: <input type="text" name="role" id="role" th:value="*{role}"><br>
    <input type="submit" name="submit" id="submit" value="SEND">
</form>

</div>
</body>
</html>